# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Firebase Logs
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Dependencies & Build output
node_modules
dist
dist-ssr
coverage/

# Environment variables
.env
.env.*
!.env.example
*.local

# Firebase & Emulators data
.firebase/
dati-mock/
firebase-export/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Nascondi la cartella word e scripts
word/
scripts/
compilance/